.content {
    display:grid;
    grid-template-rows: auto 1fr;    
    padding: 0 0.5rem;
}

.content_info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    gap: 0.5rem;    
}